<div class="mt2rem bgwhite2 pd2rem">
  <div class="containerf">
 <div class="col-2">
<span><h3>The Future Me</h3> </span>
</div>
<div class="col-2">
  <span class="fr"><img class="mr-10px" src="/assets//icons//edit.svg" /></span>
</div>
</div>

<div class="row pt-2rem" *ngFor="let item of this.futureme" >
  <div class="dinb2 w-10m">
    <img class="w-50px avatar3" [src]="item.logo" >
  </div>
  <div class="dinb2 w-90m">
    <h4 class="m-0 ">{{item.title}} </h4>

  <div>
    <p class="">
      <span *ngFor="let itemm of item.items;  let i=index">

        <span class="" *ngIf="i < this.item.items.length-1" > {{itemm.name + ','}} </span>
        <span class="" *ngIf="i == this.item.items.length-1" > {{itemm.name }} </span>
       </span>
    </p>
  </div>

  </div>

  </div>

  </div>


