<div class="mt2rem bgwhite2 pd2rem">

  <div class="containerf">
 <div class="col-2">
<span><h3>Reach out to Mary Waston for... </h3> </span>
</div>
<div class="col-2">

  <span class="fr"><img class="mr-10px" src="/assets//icons//edit.svg" /></span>

</div>
</div>

<div class="row pt-2rem">
  <div class="col-md-1 col-sm-1 col-xs-2">
    <img class="w-30px fr" src="../../../../assets/icons/messageicon.svg" >
  </div>
  <div class="col-md-11 col-sm-11 col-xs-10">
    <ul class="pdul">
  <li *ngFor="let item of meeting" >{{item.title}}</li>

</ul>
<div class="pt-2rem">
<button class="colorvm"> Message Keagen Hall </button> </div>
  </div>

</div>

</div>
