
<div class="backgmain vporth">

<app-navbar></app-navbar>

<div class="container paddingcont">
  <div class="row bgwhite2">
  <!-- code start -->
  <app-usermaincarasol [coverphoto]="this.user.coverphoto" [profilephoto]="this.user.profilephoto"> </app-usermaincarasol>
  <app-userinfo> </app-userinfo>

  <!-- code end -->
  </div>
  <!-- start section 2 hilights -->
  <div class="row ">
    <div class="col-md-9 pr2rem">
      <app-verifyprofileprogress [max]="10" [rate]="this.user.profileverfiedcount"></app-verifyprofileprogress>
      <app-aboutme></app-aboutme>
      <app-futureme [futureme]=" this.user.futureme"></app-futureme>
      <app-aboutmv [aboutmev]="this.user.aboutMeV"></app-aboutmv>
      <app-education [education]="this.user.education.degrees"></app-education>
      <app-englishqualification [englishqualification]="this.user.engQualification"> </app-englishqualification>
      <app-accomplishments [hubbies]="this.user.hubbies" [accumplishments]="this.user.accumplishments"></app-accomplishments>
      <app-skillsandendorsement [skillsendorsment]="this.user.skillsandendorsment"></app-skillsandendorsement>
      <app-workavaility [workavailibility]="this.user.workAvailability"></app-workavaility>
      <app-tests [tests]="this.user.test"></app-tests>
      <app-userexperience [workexp]="this.user.workingexperience"></app-userexperience>
      <app-meeting [meeting]=" this.user.meetings"> </app-meeting>

    </div>

    <div class="col-md-3 mt-2rem p0m0">
      <app-verifyprofile [verifyprofile]="this.user.profileverificationstatus"> </app-verifyprofile>
      <app-mydoc [myDoc]="this.user.myDoc"></app-mydoc>
      <app-contantdetails [contactDetails]="this.user.contactdetail"></app-contantdetails>
     </div>
  </div>
  </div>
</div>
<router-outlet></router-outlet>
