<div class="mt2rem bgwhite2 pd2rem">
  <div class="containerf">
</div>
<div class="grid-container">
  <div class="item1">
    <img class="w-50px avatar2 fr" src="../../../../assets//imgs/vedioicon.png" >
  </div>
  <div class="item2">
    <h4 class="m-0">About Me </h4>
    <div>
      <p class="colorlb"> Complete the 1 minute interview about your self  </p>

  </div>


  </div>
  <div class="item3 ">
    <div class="row">
      <div class="arrowab">
        <i class="fa fa-angle-left fontc fr" ></i>
      </div>
      <div class="arrowab text-center">
      <i class="fa fa-angle-right fontc" ></i>
      </div>
    </div>

  </div>
  </div>

  </div>

