<div class="pd2rem bgwhite2 ">
  <div><h3>Highlights</h3></div>
  <div>
  <div class="row">
    <div class="col-md-3">
    <ul class="ul_ol">
      <li class="li_ol"><img  class="img-highliths" src="../../../../assets/imgs/profilephoto.jpg" ></li>
      <li class="li_ol"> <img class="img-highliths"  src="../../../../assets/imgs/pf2.jpg" ></li>
      <li class="li_ol"><img  class="img-highliths" src="../../../../assets/imgs/profilephoto.jpg" ></li>
    </ul>
  </div>
    <div class="col-md-9">
      <div><h3>7 mutual connections</h3></div>
      <div> <p>You and Mary Watson both know Anneisha Akson, Syamira Rahman and 5 others</p></div>
    </div>
  </div>
  </div>
</div>
